[Desktop Entry]
Encoding=UTF-8
Name=Jewels
Comment=Jewels P2P Cryptocurrency
Comment[fr]=Jewels, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Jewels, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Jewels-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/Jewels;
Categories=Office;
